[data-theme="dark"] {
  --cred-color: #000000;
}

[data-theme="light"] {
  --cred-color: #ffffff;
}

.creditsBlurb {
  background-color: var(--cred-color);
  font-size: 10px;
  font-weight: 500;
}

h1 {
  font-size: 50px;
}
